@page "/"
<PageTitle>Memory</PageTitle>
@rendermode InteractiveServer

@if (difficultySelected is not null)
{
    <div>
        <GameComponent Difficulty="difficultySelected.Value" />
    </div>
}
else
{
    <div>
        <select @onchange="HandleDifficultyChange">
            <option value="Easy">Select difficulty</option>
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Impossible">Impossible</option>
        </select>
    </div>
}

@code {
    private Difficulty? difficultySelected = null;

    private void HandleDifficultyChange(ChangeEventArgs e) => difficultySelected = e?.Value?.ToString() switch
    {
        "Easy" => Difficulty.Easy,
        "Medium" => Difficulty.Medium,
        "Impossible" => Difficulty.Impossible,
        _ => Difficulty.Easy
    };

}
